<footer>
    <br />
    <p>
        Unleash Your Inner Warrior, Call of Duty: Mobile <br />
        Where Legends Are Forged!
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/Rjcoloquit" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100011276075860" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="----------------------" target="_blank" class="icon-link">
            <i class="fab fa-instagram"></i>
        </a>
    <!-- Add other social media icons similarly -->
    </div>
    <p>
        &copy; 2024 Call of Duty Mobile. All Rights Reserved.
    </p>
    <br>
</footer>