{% extends 'base.html' %}

{% block title %} Edit CODM Weapon - CODM Master {% endblock %}

{% block navbar %}
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'codm-player-list' %}">Players</a>
    <a href="{% url 'codm-weapon-list' %}">Weapons</a>
    <a href="{% url 'about-us' %}">About Us</a>
</nav>
{% endblock %}

{% block content %}
  <h2>Edit CODM Weapon</h2>
  <form role="form" class="" method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}

  </form>
{% endblock %}
